.gallery {
  font-size: 12px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 24px;
  }
}
.gallery__container {
  padding-top: 36px;
  padding-bottom: 3px;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 119px;
  }
}

.gallery__title {
  margin: 0;
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 27px;
  }
}

.gallery p {
  margin: 0;
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    width: 420px;
    margin-bottom: -35px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
    margin-bottom: 46px;
  }
}

.gallery__swiper {
  @media (min-width: $tablet-width) {
    padding-top: 56px;
  }
}

.gallery__button {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    top: 21px;
    right: 0;

    &--prev {
      left: unset;
      right: 41px;
    }
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}
// .gallery__swiper-wrapper {}
