.main-nav {
  display: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  @include font-set(14px, 14px, 700);

  &--is-open {
    display: block;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    font-weight: 400;
    text-transform: unset;
    letter-spacing: normal;
  }
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  gap: 22px;

  @include list-default;

  margin-top: 30px;
  margin-bottom: 45px;

  @media (min-width: $tablet-width) {
    gap: 26px;
    margin-top: 50px;
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    gap: 30px;
  }
}

.main-nav__link {
  @include link-default;
}
