.overlay {
  display: none;

  &--is-open {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    display: block;
    height: 100vh;
    width: 100vw;
    background-color: $burger-overlay;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}
