.primary-button {
  display: block;
  width: fit-content;
  padding: 20px;
  color: $base-light;
  text-align: center;
  background-color: $base-accent;
  border: none;
  cursor: pointer;

  @include link-default;
  @include font-set(16px, 16px, 500);

  &:hover {
    background-color: $base-light;
    color: $darker-accent;
    outline: 1px solid $darker-accent;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    background-color: $base-light;
    color: $darker-accent;
    outline: none;
  }

  &:active {
    background-color: $darker-accent;
    color: $base-light;
    outline: none;
  }

  &:disabled,
  &--disabled {
    background-color: $base-disabled;
    color: $base-light;
    outline: none;
  }
}
