.primary-title {
  @include font-set(22px, 22px, 800);

  @media (min-width: $tablet-width) {
    font-size: 25px;
    line-height: 25px;
  }

  @media (min-width: $tablet-width) {
    font-size: 35px;
    line-height: 35px;
  }
}
