.reviews {
  overflow: hidden;
}

.reviews__container {
  padding-top: 37px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
    padding-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 145px;
    padding-bottom: 77px;
  }
}

.reviews__title {
  margin: 0;
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    margin-bottom: -35px;
  }

  @media (min-width: $desktop-width) {
    &::before {
      bottom: 25px;
    }
  }
}

.reviews__swiper {
  @media (min-width: $tablet-width) {
    padding-top: 70px;
    overflow: visible;
  }

  @media (min-width: $desktop-width) {
    padding-top: 63px;
  }
}

.reviews__button {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    position: absolute;
    top: 35px;
    right: 0;

    &--prev {
      left: unset;
      right: 41px;
    }
  }

  @media (min-width: $desktop-width) {
    top: 28px;
    right: 0;

    &--prev {
      right: 41px;
    }
  }
}
