// .tours {}
// .tours__container {}
// .tours__title {}
// .tours__swiper {}
// .tours__swiper-button {
  // &--prev {}
  // &--next {}
// }
// .tours__swiper-wrapper {}
// .tours__slide {}

.tours__link {
  text-transform: uppercase;
  letter-spacing: 4px;

  @include link-default;
  @include font-set(14px, 14px, 700);

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}
