.trainer-card {
  display: grid;
  grid-template-columns: 1fr 30px;
  gap: 15px;
  align-content: start;
  width: 290px;
  height: 356px;
  padding: 11px 14px;
  background-color: $base-light;
  border: 1px solid $accent-border-color;

  @include font-set(12px, 16px, 400);

  @media (min-width: $tablet-width) {
    width: 213px;
    height: 388px;
  }

  @media (min-width: $desktop-width) {
    width: 285px;
    height: 356px;
  }
}

.trainer-card__photo {
  grid-column: 1/-1;
}

.trainer-card h4 {
  width: min-content;
  margin: 0;

  @include font-set(14px, 16px, 700);

  @media (min-width: $tablet-width) {
    margin-top: 1px;
  }
}

.trainer-card p {
  grid-column: 1/-1;
  margin: 0;
}

.trainer-card__link {
  align-self: start;
  justify-self: end;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  color: $base-dark;
  border: 1px solid $base-border-color;

  &:hover {
    background-color: $base-light;
    color: $base-dark;
    border-color: $base-dark;
    outline: none;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    background-color: $base-light;
    color: $base-dark;
    border-color: $base-light;
    outline: none;
  }

  &:active {
    background-color: $base-accent;
    color: $base-light;
    border-color: $base-accent;
    outline: none;
  }

  &:disabled,
  &--disabled {
    background-color: $base-light;
    color: $base-disabled;
    border-color: $base-disabled;
    outline: none;
  }
}
