.training {
  @media (min-width: $tablet-width) {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      right: 0;
      bottom: 158px;
      z-index: -1;
      width: 465px;
      height: 280px;

      background-image: url("../../img/decoration/clouds-2-m.png");
      background-size: 465px 280px;
      background-position: center;
      background-repeat: no-repeat;

      @supports (background-image: url("../../img/decoration/clouds-2-m.webp")) {
        background-image: url("../../img/decoration/clouds-2-m.webp");
      }

      @media (resolution >=2dppx) {
        background-image: url("../../img/decoration/clouds-2-2x-m.png");

        @supports (background-image: url("../../img/decoration/clouds-2-2x-m.webp")) {
          background-image: url("../../img/decoration/clouds-2-2x-m.webp");
        }
      }
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      bottom: -4px;
      width: 633px;

      background-image: url("../../img/decoration/clouds-2-l.png");
      background-size: 633px 280px;
      background-position: right bottom -4px;
      background-repeat: no-repeat;

      @supports (background-image: url("../../img/decoration/clouds-2-l.webp")) {
        background-image: url("../../img/decoration/clouds-2-l.webp");
      }

      @media (resolution >=2dppx) {
        background-image: url("../../img/decoration/clouds-2-2x-l.png");

        @supports (background-image: url("../../img/decoration/clouds-2-2x-l.webp")) {
          background-image: url("../../img/decoration/clouds-2-2x-l.webp");
        }
      }
    }
  }
}

.training__container {
  padding-top: 36px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 59px;
  }
}

.training__title {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 38px;
  }
}

.training p {
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: $desktop-width) {
    margin-bottom: 56px;
  }
}

.training__subtitle {
  margin: 0;
  margin-bottom: 25px;

  @include font-set(16px, 16px, 700);

  &:first-of-type {
    @include font-set(22px, 22px, 800);
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 104px;

    font-size: 18px;
    line-height: 18px;

    &:first-of-type {
      margin-bottom: -35px;

      font-size: 25px;
      line-height: 25px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 23px;

    font-size: 21px;
    line-height: 21px;

    &:first-of-type {
      font-size: 35px;
      line-height: 35px;
    }
  }
}

.training__swiper {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    padding-top: 65px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 55px;
    margin-bottom: 56px;
  }
}

.training__button {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    position: absolute;
    top: 30px;
    right: 0;

    &--prev {
      left: unset;
      right: 41px;
    }
  }

  @media (min-width: $desktop-width) {
    top: 20px;
    right: 0;

    &--prev {
      right: 41px;
    }
  }
}

.training__process-list {
  position: relative;
  display: grid;
  gap: 25px;

  font-size: 12px;
  line-height: 18px;

  @include list-default;

  &::before {
    position: absolute;
    top: 11px;
    left: 6px;
    content: "";
    display: block;
    width: 2px;
    height: calc(100% - 22px);
    background-color: $base-accent;
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: 232px 272px;
    gap: 104px 174px;

    font-size: 14px;
    line-height: 22px;

    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 254px);
    gap: 0;
    font-size: 16px;
    line-height: 24px;

    &::before {
      display: block;
      top: unset;
      bottom: 13px;
      left: 20px;
      height: 2px;
      width: calc(100% - 20px);
    }
  }
}

.training__process-item {
  position: relative;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  gap: 11px;
  padding-left: 29px;

  &::before {
    content: "";
    flex-grow: 0;
    flex-shrink: 0;
    display: block;
    width: 25px;
    height: 25px;

    background-size: 25px 25px;
    background-position: center;
    background-repeat: no-repeat;
  }

  &:first-child::before {
    background-image: url("/__spritemap#sprite-map-view");
  }

  &:nth-child(2)::before {
    background-image: url("/__spritemap#sprite-boot-view");
  }

  &:nth-child(3)::before {
    background-image: url("/__spritemap#sprite-wood-view");
  }

  &:nth-child(4)::before {
    background-image: url("/__spritemap#sprite-mountain-view");
  }

  &::after {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    content: "";
    flex-grow: 0;
    flex-shrink: 0;
    display: block;
    width: 14px;
    height: 14px;
    background-color: $base-accent;
    border-radius: 7px;
  }

  @media (min-width: $tablet-width) {
    padding-left: 0;
    gap: 19px;

    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 10px;
    padding-bottom: 38px;
    gap: 10px;

    &::after {
      display: block;
      top: unset;
      left: 20px;
      bottom: 0;
    }
  }
}
