// .training {}
// .training__container {}
// .training__title {}
// .training p {}

.training__subtitle {
  @include font-set(16px, 16px, 700);

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    font-size: 21px;
    line-height: 21px;
  }
}

// .training__swiper {}
// .training__button {
  // &--prev {}
  // &--next {}
// }
// .training__swiper-wrapper {}
// .training__slide {}
.training__process-list {
  font-size: 12px;
  line-height: 18px;

  @include list-default;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

// .training__process-item {}
